<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Клиентская страница</title>
    <link rel="stylesheet" href="/static/styles.css">

</head>
<body>
 


    <div class="client_container">
        
        <div class="Main"> 
             <!-- Иконка истории -->
             <img class="logoIcon" src="{{ url_for('static', filename='images/logo.png') }}" alt="Example Image">

            <h1 class="title"> Введите <br> номер телефона</h1>

            <p> к которому привязан активный абонимент</p>


                <form method="POST" id="phone-form" class="client_form">
                    <input class="client_input" type="text" id="phone_number" name="phone_number" placeholder="+7(___) ___ __ __" required maxlength="18">
                    <button class="client_button-submit" type="submit">Продолжить</button>
                </form>

             

            
            <div id="status">{{error}}</div>

        </div>
        
    </div>









    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
    <script>
      
      

        document.getElementById("phone_number").addEventListener("input", function (e) {
        let input = e.target;
        let numbers = input.value.replace(/\D/g, ""); // Оставляем только цифры

        if (numbers.startsWith("7")) {
            numbers = numbers.substring(1); // Убираем лишнюю 7, если ввели вручную
        }

        // Форматируем номер
        let formatted = "+7";
        if (numbers.length > 0) formatted += " (" + numbers.substring(0, 3);
        if (numbers.length >= 4) formatted += ") " + numbers.substring(3, 6);
        if (numbers.length >= 7) formatted += " " + numbers.substring(6, 8);
        if (numbers.length >= 9) formatted += " " + numbers.substring(8, 10);

        input.value = formatted;
    });
    </script>
</body>
</html>
