<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>success</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            let audio = document.getElementById("success-sound");
            if (audio) {
                audio.play().catch(error => console.log("Ошибка воспроизведения:", error));
            }
        });
    </script>
</head>
<body>
    <audio id="success-sound" src="{{ url_for('static', filename='sounds/success.mp3') }}"></audio>
    
    <div class="Container">
        

            <div class="Main"> 

                  <!-- Контейнер для фона SVG и GIF -->
        <div class="circleIcon">
            <!-- Фоновое изображение SVG -->
            <div class="svgBackground"></div>
            <!-- GIF изображение -->
            <img class="gifIcon" src="{{ url_for('static', filename='images/okay.gif') }}" alt="Example Image">
        </div>
                
                <div>
                    <h1 class="other-text"> Успешно!</h1>
                    <h3 class="other-text">
                        Добро пожаловать 
                    </h3>
                    <h2 class="organization-name">
                        {{ client_first_name}} {{ client_last_name[0] }}.
                    </h2>
                    <h4 class="other-text">
                        {{ visit_time }}
                    </h4>
                </div>

            
            </div>

       
    </div>



</body>
</html>
