<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>success</title>
    <link rel="stylesheet" href="/static/styles.css">
    <meta http-equiv="refresh" content="3;url=/">
</head>
<body>
    
    <div class="Container">
        <div class="top">
    
                <!-- Иконка истории -->
                <img class="historyIcon" src="{{ url_for('static', filename='images/history.png') }}" alt="Example Image">
            
        </div>

            <div class="Main"> 

                  <!-- Контейнер для фона SVG и GIF -->
        <div class="circleIcon">
            <!-- Фоновое изображение SVG -->
            <div class="svgBackground"></div>
            <!-- GIF изображение -->
            <img class="gifIcon" src="{{ url_for('static', filename='images/okay.gif') }}" alt="Example Image">
        </div>
                
                <div>
                    <h1> Успешно!</h1>
                    <h3>
                        Добро пожаловать в
                    </h3>
                    <h3 class="organization-name">
                        {{ client_first_name }}
                    </h3>
                </div>

            
                <button class="button_go-home">
                   На главную
                </button>
            </div>

       
    </div>



    <!-- {{ place_name }} -->
  
</body>
</html>
